.cat-details {

  padding: 0;
  margin: 0;
  display: flex;
}

.cat-description {
  padding: 0;
  margin: 0;
  background-color: rgb(34, 34, 34);
  color: azure;
  width: 100%;
  padding-left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cat-description h3 {
  text-align: center;
  font-size: 28px;
}

.cat-description p {
  font-size: 20px;
  text-align: center;
}

.cat-description button {
  display: block;
  padding: 0.5em;
  border-radius: 5px;
  background-color: tomato;
  color: bisque;
  border: 1px solid bisque;
  font-size: 20px;
  width: 70%;
  margin: 0 auto;
}
