footer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: top;
  background-color: rgb(24, 24, 24);
  color: rgb(235, 236, 236);
  width: 100%;
  padding: 0.5em;
  margin: 0;
  font-size: 18px;
}

footer a {
  text-decoration: none;
  color: azure;
}

footer a:hover {
  color: grey;
}

footer p {
  font-size: 18px;
  color: rgb(153, 153, 153);
}

footer li {
  padding-bottom: 7px;
}
